<a href="https://colab.research.google.com/github/FGalvao77/others-knowledge-in-python-for-data-science/blob/main/Biblioteca_Pandera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Utilizando a biblioteca ``pandera``

  - Documentação:

    https://pandera.readthedocs.io/en/stable/

In [1]:
!pip install pandera

Collecting pandera
  Downloading https://files.pythonhosted.org/packages/78/ed/7a867a7f282ae8c8a0244b3c462598c1adfb56561a67125a2870822e2c99/pandera-0.6.3-py3-none-any.whl (77kB)
     |████████████████████████████████| 81kB 3.4MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Collecting typing-inspect>=0.6.0
  Downloading https://files.pythonhosted.org/packages/42/1c/66402db44184904a2f14722d317a4da0b5c8c78acfc3faf74362566635c5/typing_inspect-0.6.0-py3-none-any.whl
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (20.9)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: typing-extensions>=3.7.4.3; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2.8.1)
Collecting mypy-extensions>=0.3.0
  Downloading https://files.pythonhosted.org/packages/5c/eb/975c7c080f3223a5cdaff09612f3a5221e4ba534f7039db34c35d95fa6a5/mypy_extensions-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pandera) (1.15.0)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.6.3 typing-inspect-0.6.0

In [2]:
import pandera as pa
from pandera import check_input
import pandas as pd

In [3]:
df = pd.DataFrame({
    'col1': [5.0, 8.0 ,10.0],
    'col2': ['text_1', 'text_2', 'text_3']
})

In [4]:
schema = pa.DataFrameSchema({
    'col1': pa.Column(float, pa.Check(lambda minute: 5 <= minute)),
    'col2': pa.Column(str, pa.Check.str_startswith('text_'))
})

In [5]:
valited_df = schema(df)
print(valited_df)

   col1    col2
0   5.0  text_1
1   8.0  text_2
2  10.0  text_3

In [6]:
@check_input(schema)
def plus_three(df):
  df['col1_plus_3'] = df['col1'] + 3
  return df

In [7]:
plus_three(df)

   col1    col2  col1_plus_3
0   5.0  text_1          8.0
1   8.0  text_2         11.0
2  10.0  text_3         13.0