<a href="https://colab.research.google.com/github/FGalvao77/others-knowledge-in-python-for-data-science/blob/main/Python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# imprimido "Hello World"
print('Hello World')

Hello World

In [2]:
# indentação em Python é de extrema importância
# erro de indentação, o código apresentará erro
if 5 > 2:
  print('Cinco é maior que dois!')

Cinco é maior que dois!

In [3]:
# indentação errada
if 5 > 2:
print('Cinco é maior que dois!')

IndentationError: ignored

In [4]:
# para comentar usamos o "#" e três conjunto de três aspas - simples ou duplas
# isto é um comentário
'''
isto também é um comentário!
'''

'\nisto também é um comentário!\n'

In [5]:
# declarando uma variável
nome = "Fernando"

In [6]:
# imprimindo a variável
nome

'Fernando'

In [7]:
# atribuindo um valor númerico a variável
x = 50
x

50

In [8]:
# declarando duas variáveis e seus respectivos valores
x = 5 
y = 10

In [9]:
# realizando operação de soma com variáveis "x" e "y"
print(x + y)

15

In [10]:
# realizando a soma das variáveis "x" e "y"
# o resultado instanciando em uma nova variável "z"
z = x + y
print(z) # imprimindo o valor da variável

15

In [11]:
# forma correta de declaração de uma variável
meu_primeiro_nome = 'Fernando'
meu_primeiro_nome

'Fernando'

In [12]:
# ou
meuPrimeiroNome = 'Fernando'
meuPrimeiroNome

'Fernando'

In [13]:
# formas erradas de declaração de uma variável
# apresentará erro
1ºnome = 'Fernando'
1º

SyntaxError: ignored

In [14]:
# outro erro
meu-primeiro-nome = 'Fernando'
meu-primeiro-nome

SyntaxError: ignored

In [16]:
# atribuindo um valor comum a três variáveis
x = y = z = 'Laranja'

In [17]:
print(x, y, z)

Laranja Laranja Laranja

In [18]:
x

'Laranja'

In [19]:
y

'Laranja'

In [20]:
z

'Laranja'

In [21]:
# declarando uma função global
def minhaFunc():
  global x
  x = 'Python'

In [22]:
# imprimindo a declaração da função
minhaFunc

In [23]:
# declarando uma função global
# como comentário em seu corpo
def minhaFunc():
  '''
  Criando uma função global
  '''
  global x
  x = 'Python'

In [24]:
# função "help" para ajuda
help(minhaFunc)

Help on function minhaFunc in module __main__:

minhaFunc()
    Criando uma função global

In [25]:
# o método "dir" lista todas as funções/declarações globais presentes
dir()

['In',
 'Out',
 '_',
 '_11',
 '_12',
 '_18',
 '_19',
 '_20',
 '_22',
 '_4',
 '_6',
 '_7',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'exit',
 'get_ipython',
 'meuPrimeiroNome',
 'meu_primeiro_nome',
 'minhaFunc',
 'nome',
 'quit',
 'x',
 'y',
 'z']

In [26]:
# descobrindo o tipo de dado presente na variável
# com a função "type"
x = 5
print(type(x))

<class 'int'>

In [27]:
# outro exemplo
x = 'Olá mundo!'
print(type(x))

<class 'str'>

In [28]:
# mais outro exemplo
x = 20.5
print(type(x))

<class 'float'>

In [29]:
# lista é declarda entre colchetes "[ ]"
x = ['maçã', 'banana', 'morango', 'uva']
print(type(x))

<class 'list'>

In [30]:
# tupla é declarada ente parenteses "( )"
x = ('maçã', 'banana', 'morango', 'uva')
print(type(x))

<class 'tuple'>

In [31]:
# dicionário é declarado com uso de chaves "{ }"
# para um dicionário usamos a estrutura chave e valor
# "chave": valor
x = {'nome': 'Fernando', 'idade': 36}
print(type(x))

<class 'dict'>

In [32]:
# valor boleano
x= True
print(type(x))

<class 'bool'>

In [33]:
# convertendo um valor de uma variável
x = 5

In [34]:
type(x) # conferindo o valor atual da variável

int

In [35]:
# realizando a conversão
x = float(x)

In [36]:
type(x) # imprimindo o tipo de dado atualizado

float

In [37]:
# convertendo um "float" para "int"
x = 5.5
x = int(x)
print(type(x))

<class 'int'>

In [38]:
# convertendo um valor "int" para "complex"
x = 5
x = complex(x)
print(type(x))

<class 'complex'>

In [39]:
# realizando a contagem de uma variável
# com a função "len"
x = 'Hello World!'
print(len(x))

12

In [40]:
# imprimindo o primeiro caracter da variável
txt = 'Hello World!'
x = txt[0]
print(x)

H

In [41]:
# imprimindo os caracteres "llo"
# entre segundo e quarto índice
txt = 'Hello World!'
x = txt[2:5]
print(x)

llo

In [42]:
# removendo os espaços vazios da variável - inicio e fim
txt = '  Hello World!  ' # dois espaços vazios no inicio e final da variável
print(len(txt)) # imprimindo a quantidade de caracteres presentes na variável

x = txt.strip() # removendo os espaços vazios
print(len(x))
print(x)

16
12
Hello World!

In [43]:
# transformando a variável para caixa alta
# com a função "upper()"
txt = 'Hello World!'
txt = txt.upper()
txt

'HELLO WORLD!'

In [44]:
# transformando a variável para caixa baixa
# com a função "lower()"
txt = 'Hello World!'
txt = txt.lower()
txt

'hello world!'

In [45]:
# realizando a troca de um caracter na variável
# com a função "replace"
txt = 'Hello World!'
txt = txt.replace('H', 'J')
txt

'Jello World!'

In [46]:
# adicionado um valor da variável e um texto
idade = 36
txt = 'Meu nome é Fernando, e tenho {}'
print(txt.format(idade))

Meu nome é Fernando, e tenho 36

In [47]:
# comparações boleanas
print(10 > 9)

True

In [48]:
# outros exemplos
print(10 == 9)
print(10 < 9)
print(bool('abc'))
print(bool(0))

False
False
True
False

In [49]:
# multiplicação
print(10 * 5)

50

In [50]:
# divisão
print(10 / 2)

5.0

In [51]:
# verificação se um valor esta presente em uma lista
frutas = ['maçã', 'banana', 'uva']
if 'maçã' in frutas:
  print('Sim, temos maçã na lista!')

Sim, temos maçã na lista!

In [52]:
# já este código abaixo não retornará nenhuma mensagem
# só temos retorno quando a condição é verdadeira
frutas = ['maçã', 'banana', 'uva']
if 'melão' in frutas:
  print('Sim, temos melão na lista!')

In [53]:
# podemos melhor nosso código, utilizando o "else"
# a função "else" retorna uma condição falsa
frutas = ['maçã', 'banana', 'uva']
if 'melão' in frutas:
  print('Sim, temos melão na lista!')

else:
  print('Infelizemente não temos essa fruta em nossa lista!')

Infelizemente não temos essa fruta em nossa lista!

In [54]:
# comparação entre valores
# 5 é diferente de 10
# utilizamos o "!="
if 5 != 10:
  print('5 e 10 não é igual')

5 e 10 não é igual

In [55]:
# 5 é igual a 10 ou 4 é igual a 4
# para está condição, utilizamos o "or"
if 5 == 10 or 4 == 4:
  print('Pelo menos uma das afirmações é verdadeira')

Pelo menos uma das afirmações é verdadeira

In [56]:
# imprimindo o segundo item da lista
frutas = ['banana', 'maçã', 'uva']
print(frutas[1])

maçã

In [57]:
# mudando o valor de m item em uma lista
# trocando a maça por kiwi
frutas = ['maça', 'banana', 'morango']
frutas[0] = 'kiwi'
frutas

['kiwi', 'banana', 'morango']

In [58]:
# adicionado um item novo na lista, laranja
# utilizando o método "append"
frutas = ['maça', 'banana', 'morango']
frutas.append('laranja')
frutas

['maça', 'banana', 'morango', 'laranja']

In [59]:
# adicionando o limão como segundo item na lista
# utlizando o método "insert" e passando a posição que deseja
frutas = ['maçã', 'banana', 'morango']
frutas.insert(1,'limão')
frutas

['maçã', 'limão', 'banana', 'morango']

In [60]:
# removendo o item banana da lista
# com o métdo "remove"
frutas = ['maçã', 'banana', 'morango']
frutas.remove('banana')
frutas

['maçã', 'morango']

In [61]:
# usando o índice negativo para imprimir o último item da lista
frutas = ['maça', 'banana', 'morango']
print(frutas[-1])

morango

In [62]:
# usando a função "range" para os índices 
# imprimindo do terceiro até o quinto itme da lista
frutas = ['maça', 'banana', 'morango', 'laranja', 'kiwi', 'melão', 'manga']
print(frutas[2:5])

['morango', 'laranja', 'kiwi']

In [63]:
# usando a correta sintaxe para imprimir os números dos itens da lista
frutas = ['maçã', 'banana', 'morango']
print(len(frutas))

3

In [64]:
# imprimindo o primeiro item da tupla
frutas = ('maçã', 'banana', 'morango')
print(frutas[0])

maçã

In [65]:
# imprimindo a quantidade de itens da tupla
frutas = ('maçã', 'banana', 'morango')
print(len(frutas))

3

In [66]:
# usando o indice negativo para imprimir o último item da tupla
frutas = ('maçã', 'banana', 'morango')
print(frutas[-1])

morango

In [ ]:
# usando o método "range" e os seus índices para iprimir os itens
# terceiro, quarto e quinto da tupla
frutas = ('maçã', 'banana', 'morango', 'laranja', 'kiwi', 'melão', 'manga')
print(frutas[2:5])

('morango', 'laranja', 'kiwi')

In [ ]:
# checando se "maçã" está presente
frutas = {'maçã', 'banana', 'morango'}
if 'maçã' in frutas:
  print('Sim, temos maçã!')

Sim, temos maçã!

In [ ]:
# usando o método "add" para adicionar  a "laranja" o set de frutas
frutas = {'maçã', 'banana', 'morango'}
frutas.add('laranja')
frutas

{'banana', 'laranja', 'maçã', 'morango'}

In [ ]:
# usando o método correto para adicionar multiplos itens para o set de frutas
frutas = {'maça', 'banana', 'morango'}
mais_frutas = {'laranja', 'manga', 'uvas'}
frutas.update(mais_frutas)
frutas

{'banana', 'laranja', 'manga', 'maça', 'morango', 'uvas'}

In [ ]:
# usando o método "remove" para remover a "banana" do set de frutas
frutas = {'maçã', 'banana', 'morango'}
frutas.remove('banana')
frutas

{'maçã', 'morango'}

In [ ]:
# usando o método "discard" pra remover a "banana" do set de frutas
frutas = {'maçã', 'banana', 'morango'}
frutas.discard('banana')
frutas

{'maçã', 'morango'}

In [ ]:
# use o método "get" para imprimir a valor da chave "model" do dicionário "carro"
carro = { 
    'marca' : 'Ford',
    'modelo': 'Mustang',
    'anoa'  : 1964
}

print(carro.get('modelo'))

Mustang

In [ ]:
# mudando o "ano" de 1964 para 2020
carro = {
    'marca' : 'Ford',
    'modelo': 'Mustang',
    'ano'   : 1964
}

carro['ano'] = 2020

carro

{'ano': 2020, 'marca': 'Ford', 'modelo': 'Mustang'}

In [ ]:
# adicionar chave/valor para "cor": "vermelho" no dicionário "carro"
carro = {
    'marca' : 'Ford',
    'modelo': 'Mustang',
    'ano'   : 1964
}

carro['cor'] = 'vermelho'

carro

{'ano': 1964, 'cor': 'vermelho', 'marca': 'Ford', 'modelo': 'Mustang'}

In [ ]:
# usando o método "pop" para remover "modelo" do dicionário
carro = { 
    'marca' : 'Ford',
    'modelo': 'Mustang',
    'ano'   : 1964
}

carro.pop('modelo')
carro

{'ano': 1964, 'marca': 'Ford'}

In [67]:
# usando o método "clear" para limpar todo o dicionário
carro = { 
    'marca': 'Ford',
    'modelo': 'Mustang',
    'ano': 1964
}

carro.clear()
carro

{}

In [68]:
# imprimindo "Hello World" se "a" é maior que "b"
a = 50
b = 10

if a > b:
  print('Hello World')

Hello World

In [69]:
# imprimindo "Hello World" se "a" não é igual a "b"
a = 50
b = 10

if a != b:
  print('Hello World')

Hello World

In [70]:
# imprimindo "Sim" se "a" é igual a "b", outro caso imprimi "Não"
a = 50 
b = 10

if a == b:
  print('Sim')
else:
  print('Não')

Não

In [71]:
# imprimindo "1" se "a" é igual a "b"
# imprimindo "2" se "a" é maior que "b"
# e outro caso imprimi "3"
a = 50
b = 10

if a == b:
  print('1')
elif a > b:
  print('2')
else:
  print('3')

2

In [72]:
# imprimindo "Hello" if "a" é igual a "b", e "c" é igual a "d"
if a == b and c == d:
  print('Hello')

In [73]:
# imprimindo "Hello" se "a" é igual a "b", ou "c" é igual a "d"
if a == b or c == d:
  print('Hello')

NameError: ignored

In [74]:
# este exercício é para corrigir a indentação
if 5 > 2:
  print('Cinco é maior que dois! ')

Cinco é maior que dois!

In [75]:
# declarando toda a condicional em uma única linha
print("Yes") if 5 > 2 else print("No")

Yes

In [76]:
# imprima i, desde que i seja inferior a 6
i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [77]:
# parando o loop se é 3
i = 1

while i < 6:
  if i == 3:
    break
  i += 1

In [78]:
# no loop, quando i for 3, pule diretamente para a próxima iteração
i = 0

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [79]:
# imprima uma mensagem quando a condição for falsa
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print('i não é mais menor que 6')

1
2
3
4
5
i não é mais menor que 6